<ul class="nav navbar-nav">
    <li class="{{ home_tab }}"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Discover<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a class="{{ prs_list_tab }}" href="#"> Why this blog </a></li>
            <li><a class="{{ prs_monthly_tab }}" href="#">Have your say</a></li>
            <li><a class="{{import_pr_list_tab }}" href="#"> WhatNot </a></li>
        </ul>
    </li>
</ul>