{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Personal Blog">
        <meta name="author" content="Mahmood Khan">
        <meta name="keywords" content="personal blog, documentation, python, java, django">
        <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico' %}" type="image/x-icon">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'blog/css/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'blog/css/app.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'blog/css/pygments.css' %}" rel="stylesheet" type="text/css">
        {% block extra_js_in_header %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img style="margin-top: -15px;"  src="{% static 'blog/images/logo.png' %}" />
                    </a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="{{ home_tab }}"><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts By Category<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="{{ prs_list_tab }}" href="#"> General  </a></li>
                                <li><a class="{{ prs_monthly_tab }}" href="#"> Technical  </a></li>
                                <li><a class="{{import_pr_list_tab }}" href="#">  Health  </a></li>
                            </ul>
                        </li>
                    </ul>
                    {% if user.is_authenticated  %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> {{ user.username }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Profile</li>
                                <li><a href="{%  url 'newblogpost' %}"> New BlogPost </a></li>
                                <li><a href="{% url 'logout' %}"> Logout </a></li>
                            </ul>
                        </li><!-- .dropdown collapse -->
                    </ul>
                    {% endif %}
                    <form class="navbar-form navbar-right" role="form" method="post" action="#">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="search" name="search" placeholder="Search" class="form-control">
                        </div>
                    </form>
                </div><!-- .navbar-header collapse -->
            </div><!-- .container collapse -->
        </div><!-- .navbar collapse -->

        <div class="container">
            {% block content %}{% endblock %}
        </div><!-- .container collapse -->

        <div id = "loading" class="modal"> </div>

        <!--http://getbootstrap.com/examples/sticky-footer-navbar/-->
        <div id="footer"><!-- Sticky Footer -->
            <div class="container">
                <span style="float: left;" class="text-muted">
                    Copyright ©  {% now "Y" %} All rights reserved
                </span>
                <span style="float:right;" class="text-muted">
                    <a href="{% url 'about' %}" class="text-muted">About</a> | 
                    <a href="{% url 'contact' %}" class="text-muted">Contact</a>
                </span>
            </div>
        </div><!-- .footer collapse -->

        <script type="text/javascript" src="{% static 'blog/js/app.js' %}"></script>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{% static 'blog/js/jquery-1.11.0.min.js' %}"></script>

        <!-- Bootstrap compiled javascript plugins -->
        <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    </body>
</html>
