{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="personal blog about technology, politics, religion, sports, nutrition, etc.">
        <link rel="shortcut icon" href="{% static 'blog/images/favicon.png' %}" type="image/x-icon">
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'blog/css/jquery-ui-1.10.4.custom.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'blog/css/app.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'blog/css/pygments.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'blog/css/select2.css' %}" rel="stylesheet" type="text/css">
        {% block extra_js_in_header %}{% endblock %}
        {% if GOOGLE_ANALYTICS_PROPERTY_ID %}
            {% include "ga.html" %}
        {% endif %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    {% include "_navbartoggle.html" %}
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img style="margin-top: -15px;" width="152" height="34" src="{% static 'blog/images/logo.png' %}" />
                    </a>
                </div>
                <div class="navbar-collapse collapse" role="navigation">
                    {% include "_navbar.html" %}
                    {% include "_usermenu.html" %}
                    {% include "_search.html" %}
                </div><!-- .navbar-header collapse -->
            </div><!-- .container-fluid collapse -->
        </div><!-- .navbar collapse -->

        
        <div class="container-fluid">
            <div class="row">
                <div class = "col-sm-9" style="border-right:0.5px solid #ccc">
                    {% include "_messages.html" %}

                    <div class="page-header" align = "center">
                        <h4>
                            {% block page_title %} {% endblock %} 
                            <small><p>{% block description %} {% endblock %}</p></small>
                        </h4>
                    </div>
                    {% block content %} {% endblock %}
                </div> <!-- col-sm-9 div collapse -->

                <!-- RIGHT SIDEBAR -->
                <div class = "col-sm-3">
                    {% include "_archive.html" %}
                    {% include "_tags.html" %}
                    {% include "_categories.html" %}
                </div> <!--  col-sm-3 div collapse END RIGHT SIDEBAR-->
            </div> <!-- div row collapse -->

            <div class = "row">
                <div class = "col-sm-12">
                    {% include "debug.html" %}
                </div>
            </div>

            <div class = "row">
                <div class = "col-sm-12">
                    {% include "_modal.html" %}
                </div> <!-- .col-sm-12 div collapse -->
            </div><!-- .row div collapse -->
        </div><!-- .container-fluid div collapse -->

        {% include "_footer.html" %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script type="text/javascript" src="{% static 'blog/js/jquery-1.11.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'blog/js/select2.min.js' %}"></script>
        <!-- Bootstrap compiled javascript plugins -->
        <script type="text/javascript" src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'blog/js/app.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                /* Register click event on the category tree and toggle its visibility */
                $('li.tree-toggler').click(function () {
                    //$(this).parent().children('ul.tree').toggle(300);
                    $(this).children('ul.tree').toggle(300);
                    $(this).children('span').eq(0).toggleClass("glyphicon glyphicon-plus glyphicon glyphicon-minus");
                });
                
                /* Register onclick event for the "contact" link in order to trigger the modal*/
                $("#contact_id").on("click", function() {
                    $('#modal_content').load("{% url 'contact' %}", function () {
                        $("#form_modal").modal('toggle');
                        var form = $("#contact_form");
                        submitForm(form, "#contact_form", "Thank you for your feedback.");
                    });
                });
            });
        </script>
        <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
        {% block js_in_footer %} {% endblock %}
    </body>
</html>
