{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Google Sig-in{% endblock %}

{% block page_title %}
    Google Plus Sign-in
{% endblock %}
{% block description %}
    Testing to see how Google+ works so that I can use for logging users in before they comment
{% endblock %}

{% block extra_js_in_header %}
    <!-- BEGIN Pre-requisites -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <!-- END Pre-requisites -->
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <!-- Add where you want your sign-in button to render -->
        <div id="signinButton">
            <span class="g-signin"
                data-scope="https://www.googleapis.com/auth/plus.login"
                data-clientid="436904769980-46s5h10ckh8acf5337m1an3fiko7du3g.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback">
            </span>
        </div>
        <div id="result"></div>
    </div>
</div>
<!-- Last part of BODY element in file index.html -->
<script>

    function signInCallback(authResult) {

        if (authResult['code']) {
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
            // Send the code to the server
            $.post( "{% url 'google_sign_in' %}", {'code': authResult['code']} )
                .done(function( data ) {
                console.log( "Data Loaded: " + data );
                // Handle or verify the server response if necessary.
                // Prints the list of people that the user has allowed the app to know
                // to the console.
                console.log(result);
                if (result['profile'] && result['people']){
                    $('#results').html('Hello ' + result['profile']['displayName'] + '. You successfully made a server side call to people.get and people.list');
                } else {
                    $('#results').html('Failed to make a server-side call. Check your configuration and console.');
                }
            });
        } else if (authResult['error']) {
            // There was an error.
            // Possible error codes:
            //"access_denied" - User denied access to your app.
            //"immediate_failed" - Could not automatically log in the user
            console.log("There was an error: " + authResult['error']);
        }
    }
</script>
{% endblock %}

</body>
</html>