{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Google Sig-in{% endblock %}

{% block page_title %}
    Google Plus Sign-in
{% endblock %}
{% block description %}
    Testing to see how Google+ works so that I can use for logging users in before they comment
{% endblock %}

{% block extra_js_in_header %}
    <!-- 
        Configuration options in <meta /> elements a single time to be used by 
        HTML widgets/js for any sign-in buttons or interactive post buttons.
        https://developers.google.com/+/web/signin/reference
    -->
    <meta name="google-signin-clientid" content="436904769980-46s5h10ckh8acf5337m1an3fiko7du3g.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="email" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <meta name="google-signin-callback" content="render" />
    <meta name="google-signin-includegrantedscopes" content="true" />
    
    <!-- The Google Javascript library required for Google+ Sign-in button -->
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    
    <script type = "text/javascript">
        //Callback function for when the user clicks on the sign-in button.
        function signInCallback(authResult) {
            // Send the one-time code to my server only when the google is done signing-in user
            if (authResult['status']['signed_in']) {
                // Hide the sign-in button now that the user is authorized, for example:
                $('#signinButton').attr('style', 'display: none');
                
                // Send the code to the server
                $.post( "{% url 'google_sign_in' %}", {'code': authResult['code']} )
                    .done(function( data ) {
                        //console.log( "Data Loaded: " + data );
                    });
            } else if (authResult['error']) {
                /** 
                    Possible error codes:
                        "access_denied" - User denied access to your app.
                        "immediate_failed" - Could not automatically log in the user
                 */
                console.log('error: ' + authResult['error']);
                console.log('authResult: ' + authResult['error_description']);
            }
        }
    
        /* Callback function that is called when Javascript library is done loading */
        function render() {
            var additionalParams = {
                'callback': signInCallback,
                'accesstype': 'offline',
                'approvalprompt': 'auto',
            };

            // Attach a click listener to a button to trigger the flow.
            var signinButton = document.getElementById('signinButton');
            signinButton.addEventListener('click', function() {
                gapi.auth.signIn(additionalParams);
            });
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- Add where you want your sign-in button to render -->
            <div id="signinButton">
                <span class="g-signin"></span>
            </div>

            <div id="result"></div>
        </div>
    </div>
{% endblock %}