{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load myfilters %}

{% block title %}Home{% endblock %}

{% block page_title %}
    Google+ Users
{% endblock %}
{% block description %}
    Google Users
{% endblock %}

{% block content %}

<div class="table-responsive">
    <table id = "gusers" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="col-sm-0" style="display:none;">PK</th>
                <th class="col-sm-2">Display Name</th>
                <th class="col-sm-1">Given Name</th>
                <th class="col-sm-1">Family Name</th>
                <th class="col-sm-2">Email</th>
                <th class="col-sm-3">Gender</th>
                <th class="col-sm-1">Language</th>
                <th class="col-sm-1">Birthday</th>
            </tr>
        </thead>
        <tbody>
        {% for u in gusers %}
            <tr role="row">
                <td style="display:none;">{{ u.pk }} </td>
                <td>{{ u.display_name }}</td>
                <td>{{ u.given_name }}</td>
                <td>{{ u.family_name }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.gender }}</td>
                <td>{{ u.language }}</td>
                <td>{{ u.birthday }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        {{ me }}
    </div>
</div>


<div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div id = "form-modal-body" class="modal-body">
                <!-- Form will be inserted here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js_in_footer %}
<script>
$(document).ready(function() {

    /*
     * Submitting the form via ajax and preventing the default form submission behavior
     */
    var formAjaxSubmit = function(form, modal) {
        $(form).submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (xhr, ajaxOptions, thrownError) {
                    console.log(ajaxOptions);
                    console.log(JSON.stringify(xhr));
                    if ( $(xhr).find('.has-error').length > 0 ) {
                        $(modal).find('.modal-body').html(xhr);
                        formAjaxSubmit(form, modal);
                    } else {
                        // Close the Modal if record is successfully saved
                        $(modal).modal('toggle');
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //console.log(xhr.status + ": " + JSON.stringify(xhr.responseJSON));
                    //console.log(JSON.stringify(xhr));
                    $.each(xhr.responseJSON, function(fieldname, errmsg){
                        id = "#id_" + fieldname;
                        $(id).parent().after( errmsg );
                    });
                }
            });
        });
    };
    
    /*
     * Helper function to load the form onto the Modal upon user clicking table row
     */
    function getForm(id) {
        $('#form-modal-body').load('/commenter/'+id+"/", function () {
            //alert("OK");
            $('#form-modal').modal('toggle');
            formAjaxSubmit('#form-modal-body form', '#form-modal');
        });
    }
    
    /*
     * Any time user clicks on the table row, popup the Modal for editing record
     */
    $("#gusers tr").click(function() {
        var id = $(this).find("td:nth-child(1)").text().trim();
        getForm(id);
    });
});
</script>
{% endblock %}