{% extends 'base.html' %}

 {% block page_title %}
    Results
{% endblock %}
{% block description %}
    You searched for <span class="text-primary" style="font-style : italic;"><b>{{ query }}</b></span>
{% endblock %}

{% block content %}
    {% if query %}
        {% for result in page.object_list %}
            {% include 'search/_result_object.html' %}
        {% empty %}
            No results found.
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&page={{ page.previous_page_number }}">« Previous </a>
                {% endif %}
                |
                {% if page.has_next %}
                    <a href="?q={{ query }}&page={{ page.next_page_number }}"> Next » </a>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}