/* Sticky footer styles
------------------------------ */
html {
    position: relative;
    min-height: 100%;
}

#page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FFF5E6; /* #D6E0EB; */ /* #f5f5f5; */
}


/* Custom page CSS
----------------------- */
body > .container-fluid {
    padding: 60px 15px; 
}

.page-header {
    margin-top: 0px;
}

/* Alert */
.alert-debug {
    color: #828293;
    background-color: #F5EBFF;
    border-color: #DFDBE4;
}

.asteriskField {
    color: red;
}

mark {
    background-color: #FCF8E3;
    color: #999;
}

.comment {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    border-left: 5px solid #EEE;
}