/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container-fluid {
    padding: 60px 15px;
}
.page-header {
    margin-top: 0px;
}
#footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

/* Alert */
.alert-debug {
    color: #828293;
    background-color: #F5EBFF;
    border-color: #DFDBE4;
}

.asteriskField {
    color: red;
}

.comment {
    padding: 10px 20px;
    margin: 0px 0px 20px;
    border-left: 5px solid #EEE;
}