{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Updating blogpost {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-10 col-md-8 col-md-offset-2">
            <h2> update an existig blogpost entry</h2>
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% crispy form form.helper %}
                {% crispy attachment_form attachment_helper %}
                <div class="form-actions">
                    <input name="submit" value="Submit" class="btn btn-primary" id="submit-id-submit" type="submit">
                    <input name="rest" value="Reset" class="btn btn-inverse btn-warning" id="reset-id-rest" type="reset">
                </div>
                
            </form>
        </div>
    </div>
{% endblock %}