{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load myfilters %}

{% block title %} BlogPost {% endblock %}

{% block page_title %}
    {{ object.title}}
{% endblock %}
{% block extra_js_in_header %}
<meta name="google-signin-clientid" content="436904769980-46s5h10ckh8acf5337m1an3fiko7du3g.apps.googleusercontent.com" />
<meta name="google-signin-scope" content="email" />
<meta name="google-signin-cookiepolicy" content="single_host_origin" />
<meta name="google-signin-callback" content="render" />
<meta name="google-signin-includegrantedscopes" content="true" />

<!-- The Google Javascript library required for Google+ Sign-in button -->
<script src="https://apis.google.com/js/client:platform.js" async defer></script>

<script type = "text/javascript">

    /* Callback function for when the user clicks on the sign-in button. */
    function signInCallback(authResult) {
        // Send the one-time code to server only after google has signed-in user
        if (authResult['status']['signed_in']) {
            // Send the code to the server
            $.post( "{% url 'google_sign_in' %}", {
                'code': authResult['code']
            })
            .done(function( data ) {
                var commenter_id = jQuery.parseJSON(data).commenter_id;
                //console.log( "Data Loaded: " + jQuery.parseJSON(data).commenter_id );
                submitComment(commenter_id);
            })
            .fail(function() {
                console.log("Error in submitting code to Google");
            });
        } else if (authResult['error']) {
            /*
             * Possible error codes:
             *   "access_denied" - User denied access to your app.
             *   "immediate_failed" - Could not automatically log in the user
             */
            console.log('error: ' + authResult['error']);
            console.log('authResult: ' + authResult['error_description']);
        }
    }

    /* Callback function that is called when Javascript library is done loading */
    function render() {
        var additionalParams = {
            'callback': signInCallback,
            'accesstype': 'offline',
            'approvalprompt': 'auto',
        };
        
        $("#reset-id-reset").click(function(e) {
            $('#signinButton').attr('disabled', false);
        });
        // Attach a click listener to a button to trigger the flow.
        //var signinButton = document.getElementById('signinButton');
        //signinButton.addEventListener('click', function(e) {
            //$('#signinButton').attr('disabled',true);
            //if ($("#comment_form").find("[name='body']").val() == "" ) {
            //    alert("You may first type your comment and then submit it");
            //    return;
            //}
        //});
        
        // Trigger Google+ login on form submission
        $("#comment_form").submit(function(e) {
            e.preventDefault();
            $('#signinButton').attr('disabled',true);
            gapi.auth.signIn(additionalParams);
        });
    }
    
    /* Submits user's comment to the server  */
    function submitComment(commenter_id){
        $.post("/create_comment/", {
            csrfmiddlewaretoken: $("#comment_form").find("[name='csrfmiddlewaretoken']").val(), 
            commenter: commenter_id,
            body: $("#comment_form").find("[name='body']").val(), 
            blogpost: {{ object.id }}
        })
        .done(function(data) {
            window.location.reload(false); // reload from cache
            $('#signinButton').attr('disabled', false);
            $('#comment_form').trigger("reset");
            $('.alert').show();
        })
        .fail(function(e){
            console.log("comment FAILED! " + e.message);
        });
    }
    
</script>
{% endblock %}

{% block description %}
    Published on {{ object.pub_date}} and last updated on {{ object.updated }}
{% endblock %}

{% block content %}

    <div class="col-sm-12 col-md-offset-0">
        {{ object.content | pygmentize|safe }}
        {% if attachments %}
            <div>
                <h4>Attachments</h4>
                <ul>
                    {% for a in attachments %}
                        <li>{{ a.attachment }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <br />
        <br />
        
        <h4>Comments </h4>
        <ul class="media-list">
        {% for c in comments %}
            <li class="media comment">
                <a class="media-left" href="#">
                    <img src="{{ c.commenter.image_url }} " alt="..." class = "img-circle" width="40" height="40">
                </a> <span class="text-muted"> {{ c.commenter.display_name }} commented on {{ c.created }} </span>
                <div class="media-body">
                    <!--<h4 class="media-heading"></h4>-->
                    {{ c.body | pygmentize|safe }}
                </div>
            </li>
        {% empty %}
            <p class="bg-warning text-muted" style="padding:15px;">Be the first to comment.</p>
        {% endfor %}
        </ul>
    </div>
    
    <div class = "row">
        <div class = "col-md-12">
            <div class="alert alert-success" style="display: none">
                <span class="close" data-dismiss="alert">&times;</span>
                <strong>Success! </strong> Your commment posted.
            </div>
        </div>
    </div>
    <!-- Add where you want your sign-in button to render -->
    <!--
    <div id="signinButton2">
        <span class="g-signin"></span>
    </div>
    -->
    <div class = "row">
        <div class = "col-md-12">
            <form id="comment_form" class="form-horizontal" action="/create_comment/" method="post">
                {% crispy commentform commentform.helper %}
                <input name="submit" value="Sign-in with Google to comment" class="btn btn-primary" id="signinButton" type="submit">
                <input name="rest" value="Reset" class="btn btn-inverse btn-warning" id="reset-id-reset" type="reset">
            </form>
        </div>
    </div>
{% endblock %}