{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load myfilters %}

{% block title %} Create a new blog-post{% endblock %}

{% block page_title %}
    {{ object.title}}
{% endblock %}
{% block description %}
    Published on {{ object.pub_date}} and last updated on {{ object.updated }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <p>
            {{ object.content | pygmentize|safe }}
            </p>
            <p>
                {% for a in attachments %}
                    <li>{{ a.attachment }}</li>
                {% empty %}
                    <li>No Attachments.</li>
                {% endfor %}
            </p>
        </div>
    </div>
{% endblock %}