{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %} Annual View of BlogPosts{% endblock %}

{% block page_title %}
    Archive for {{ year|date:"Y" }}
{% endblock %}
{% block description %}
    A list of all articles that were published during the calendar year {{ year|date:"Y" }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-10 col-md-8 col-md-offset-2">

            <ul>
                {% for date in date_list %}
                    <li>{{ date|date }}</li>
                {% endfor %}
            </ul>
            
            <div>
                {% for obj in object_list %}
                    <p>
                        {{ obj.title }} - {{ obj.pub_date|date:"F j, Y" }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}