{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load myfilters %}

{% block title %}Home{% endblock %}

{% block page_title %}
    Recent Blog Posts
{% endblock %}
{% block description %}
    This a reverse chronological order of the top 10 posts
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-md-offset-0">
            <ul>
                {% for blogpost in blogposts %}
                    <li>{{ blogpost.pub_date|date }} - <a href="{{ blogpost.get_absolute_url }}">{{ blogpost.title }}</a> </li>
                {% empty %}
                    <li>No articles yet.</li>
                {% endfor %}
            </ul>
            <p> Current time in UTC: {{ now }} </p>
        </div>
        
    </div>
    <div>
        {{ code|pygmentize|safe }}
        </div>

{% endblock %}

{% block archive_data %}
    <div>
        {{ archive_data }}
        <ul>
        {% for key,value in archive_data.items %}
          <li>
          {{ key }} : {{ value }}
          <ul>
          {% for i in value %}
            <li> <a href="{% url 'monthly' %}?year={{key}}&month={{i}}"> {{i}}</a> </li>
          {% endfor %}
          </ul>
          </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}